dist-newstyle
.next
.cache
target
build
dist
__pycache__
rust/blocker/oxidized/src/none
rust/blocker/oxidized/src/oxidized
.idea
.mypy_cache
**.out
**/**.o
**/main
node_modules

python/krypto/trails/trails.log
python/random/bog/account_statement.xls
python/random/bog/account_statement1.xls
python/waybar_crypto/poetry.lock
asm/retwo/execs

python/krypto/uunishwap.py
revbog
jam
_university
_playground
.stack-work

rust/servers/towerofcz/self_signed_certs
frida/archero/_.js
.DS_Store
apl/harness_bacon/BQNEW
apl/harness_bacon/BQN

apl/harness_bacon/BQNEW.so
apl/harness_bacon/BQN.so
apl/harness_bacon/frontend/package-lock.json

rust/langs/sizzle2/tree-sitter-bqn/
apl/trading/export.csv
rust/libs/arrust/new.rs
